* {
    padding: 0;
    margin: 0;
}
.mainBG {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: auto;
    padding: 7% 15%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.mainBG .row {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
}
.mainBG .row .cc h2 {
    text-align: center;
    float: left;
}
.mainBG .row .cc p {
    text-align: center;
    float: right;
}
.mainBG .row .cc p button {
    cursor: pointer; 
    border: none; 
    background-color: transparent; 
    color: black;
}
.mainBG .row .answer {
    width: auto;
    height: auto;
    font-weight: 900;
    background-color: rgb(237, 237, 237);
    text-align: end;
    margin: auto;
    margin-top: 1.5%;
    border-radius: 13px;
    padding: 3% 2%;
}
.mainBG .row .answer h1 input {
    color: black !important;
}
.mainBG .row .numbers {
    width: auto;
    height: auto;
    background-color: rgb(209, 204, 204);
    text-align: end;
    margin: auto;
    margin-top: 2%;
    border-radius: 13px;
    padding: 3.2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mainBG .row .numbers button {
    width: 20%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3.4%;
    padding: 1% 8%;
    font-size: 32px;
    font-weight: 1000;
    color: rgb(53, 53, 44);
    border-radius: 13px;
    border: none;
    background-color: hsl(30, 25%, 89%);
    box-shadow: rgb(166, 157, 145) 0px 4px 0px;
}
.mainBG .row .numbers #delBtn, .mainBG .row .numbers #resetBtn {
    width: 20%;
    height: auto;
    margin-left: 1%;
    margin-bottom: 3.4%;
    padding: 0 2.5% !important;
    font-size: 30px;
    font-weight: 1000;
    color: white !important;
    border-radius: 13px;
    border: none;
    background-color: rgb(55, 127, 134) !important;
    box-shadow: rgb(27, 95, 101) 0px 4px 0px !important;
}
.mainBG .row .numbers #resetBtn, .mainBG .row .numbers #submitBtn {
    width: 46%;
}
.mainBG .row .numbers #submitBtn {
    color: white !important;
    background-color: rgb(202, 85, 2) !important;
    box-shadow: hsl(25, 99%, 27%) 0px 4px 0px !important;
}
@media (max-width: 768px) {
    .mainBG {
        background-color: hsl(0, 0%, 90%);
        width: 100%;
        height: auto;
        padding: 25% 11%;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
    .mainBG .row .answer {
        width: 100%;
        height: auto;
        font-weight: 900;
        background-color: hsl(0, 0%, 93%);
        text-align: end;
        margin: auto;
        margin-top: 1.5%;
        border-radius: 13px;
        padding: 9% 2%;
    }
    .mainBG .row .numbers {
        width: auto;
        height: auto;
        background-color: rgb(209, 204, 204);
        text-align: end;
        margin: auto;
        margin-top: 7%;
        border-radius: 13px;
        padding: 10% 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .mainBG .row .numbers button {
        width: 23%;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 5%;
        padding: 1.5% 2.5%;
        font-size: 32px;
        font-weight: 1000;
        color: hsl(60, 10%, 19%);
        border-radius: 13px;
        border: none;
        background-color: rgb(234, 227, 220);
        box-shadow: rgb(166, 157, 145) 0px 4px 0px;
    }
}